.main {
  height: 100vh;
}
.navbar h3 {
  font-size: 20px;
  font-weight: 500;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.svgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  /* opacity: 0.3; */
  background-image: radial-gradient(#444df756 1.1500000000000001px, #eef4f98e 1.1500000000000001px);
  background-size: 23px 23px;
  box-shadow: inset 0px 0px 7px 5px #0000001f;
  border-radius: 8px;
  margin-inline: 1rem 3rem;
  transition: 0.5s ease;
  overflow: hidden;
}

#drop {
  padding: 40px 20px;
  background-color: #ffffffa8;
  box-shadow: rgb(173 207 221 / 0%) 0px 1px 1px, rgb(178 215 223 / 7%) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgb(201 223 233 / 7%) 0px 8px 8px, rgb(161 188 255 / 64%) 0px 16px 16px;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
#result {
  opacity: 0;
  transition: 0.5s ease;
  /* width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}
#zoomContainer {
  transition: 0.3s ease;
}

.svgGcode {
  border-radius: 2rem;
  padding: 20px 25px 25px 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.svgGcode h3 {
  text-align: end;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 0.3rem;
  color: gray;
  font-weight: 500;
}


.svgGcode textarea {
  width: 100%;
  height: 95%;
  width: 100%;
  background-color: #e5e5f796;
  border: 0;
  color: gray;
  box-shadow: inset 0px 0px 10px 1px #00000007;
  border-radius: 5px;
  padding: 10px;
  transition: box-shadow 0.5s ease;
  outline: none; /* Remove default focus outline */
}

.svgGcode textarea:focus {
  box-shadow: inset 0px 0px 10px 8px #6969691c;
}

.svgButtons {
  padding: 0px 20px 20px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  grid-template-rows: 1fr 1fr 1fr ; /* 4 rows with the first row and second row being auto-sized */
  gap: 20px;
  width: 100%; 
  height: 100%;
}

.grid-container .connect {
  background-color: #3a9960;
  width: 100%;
  padding: 6px 10px;
  color: white;
  border-radius: 1vh;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s ease;
}
.connect:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.connect:hover .fa-plug-circle-bolt{
  transform: rotate(45deg) scale(0.9) ;
  text-shadow: 0 0px 4px #0aff17bf;
}
.fa-plug-circle-bolt {
  transition: 0.5s ease;
}


.grid-container div:nth-child(2) h5 {
  color: gray;
  margin-right: 5px;
  font-size: 13px;
}

.grid-container label {
  text-align: end;
  width: 80%;
  font-size: .8rem;
  color: gray;
}

.grid-container input {
  width: 100%;
  background-color: #e5e5f796;
  border: 0;
  color: gray;
  box-shadow: inset 0px 0px 10px 1px #00000007;
  border-radius: 5px;
  font-size: 10px;
  margin-left: 10px;
  padding-block: .4rem;
  transition: box-shadow 0.5s ease;
  outline: none; /* Remove default focus outline */
  text-align: center;
}

.generateGcode {
  background-color: #3A5A99;
  color: white;
  padding: 8px 15px;
  border-radius: 2rem;
  transition: 0.5s ease;
  font-size: 12px;
  min-width: 180px;
  
}
.generateGcode:hover {
  letter-spacing: 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.plot {
  text-decoration: none;
  padding-left: 12px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: green;
  transition: background-color 0.5s linear;
}



.fa-print {
  color: white;
  display: inline-block;
  background-color:green; /* Background color of the icon */
  border-radius: 50%; /* Make the background circular */ /* Adjust padding as needed */
  line-height: 1;
  padding: 8px;
  transition: background-color 0.5s linear;
}
.container {
  position: relative;
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  overflow: hidden; /* Hide overflow content */
}

